body {
    font-family: Arial, sans-serif;
    background: #0c0055;
    color: white;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #e0de12;
    font-size: 32px;
}

.container {
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    border: none;
}

button {
    padding: 12px 20px;
    margin-left: 10px;
    background: #e0de12;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
